<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>png</key>
		<string>bz</string>
		<key>tag</key>
		<string>[暴走]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>dk</string>
		<key>tag</key>
		<string>[大哭]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>gg</string>
		<key>tag</key>
		<string>[搞怪]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>xx</string>
		<key>tag</key>
		<string>[害羞]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ch</string>
		<key>tag</key>
		<string>[红唇]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>hc</string>
		<key>tag</key>
		<string>[花痴]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>hx</string>
		<key>tag</key>
		<string>[坏笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>jy</string>
		<key>tag</key>
		<string>[加油]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>jx</string>
		<key>tag</key>
		<string>[贱笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>jd</string>
		<key>tag</key>
		<string>[惊倒]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>jq</string>
		<key>tag</key>
		<string>[惊奇]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>jx</string>
		<key>tag</key>
		<string>[惊吓]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>kh</string>
		<key>tag</key>
		<string>[哭黑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>kq</string>
		<key>tag</key>
		<string>[哭泣]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>lw</string>
		<key>tag</key>
		<string>[礼物]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ha</string>
		<key>tag</key>
		<string>[流汗]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>mm</string>
		<key>tag</key>
		<string>[么么]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>sh</string>
		<key>tag</key>
		<string>[睡觉]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>wb</string>
		<key>tag</key>
		<string>[挖鼻]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>wa</string>
		<key>tag</key>
		<string>[晚安]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>wx</string>
		<key>tag</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>wq</string>
		<key>tag</key>
		<string>[委屈]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>wy</string>
		<key>tag</key>
		<string>[无语]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>xs</string>
		<key>tag</key>
		<string>[心碎]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>ya</string>
		<key>tag</key>
		<string>[药丸]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>yw</string>
		<key>tag</key>
		<string>[疑问]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>bkx</string>
		<key>tag</key>
		<string>[忧郁]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>yu</string>
		<key>tag</key>
		<string>[晕乎]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>zj</string>
		<key>tag</key>
		<string>[再见]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>za</string>
		<key>tag</key>
		<string>[早安]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>dy</string>
		<key>tag</key>
		<string>[得意]</string>
		<key>isEmotion</key>
		<true/>
	</dict>
	<dict>
		<key>png</key>
		<string>qs</string>
		<key>tag</key>
		<string>[潜水]</string>
        <key>isEmotion</key>
        <true/>
	</dict>
	<dict>
		<key>png</key>
		<string>mmd</string>
		<key>tag</key>
		<string>[亲亲]</string>
        <key>isEmotion</key>
        <true/>
	</dict>
	<dict>
		<key>png</key>
		<string>ks</string>
		<key>tag</key>
		<string>[瞌睡]</string>
        <key>isEmotion</key>
        <true/>
	</dict>
	<dict>
		<key>png</key>
		<string>nz</string>
		<key>tag</key>
		<string>[奶嘴]</string>
        <key>isEmotion</key>
        <true/>
	</dict>
	<dict>
		<key>png</key>
		<string>hz</string>
		<key>tag</key>
		<string>[胡子]</string>
        <key>isEmotion</key>
        <true/>
	</dict>
</array>
</plist>
